<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="pl15 pr15 lh22 f15">
  <a href="https://www.cnblogs.com/xiaohuochai/p/5831640.html" target="_blank">链接</a>
  <h3>滚动宽高</h3>
  <p><b class="fbold">scrollHeight:</b>表示元素的总高度，包括由于溢出而无法展示在网页的不可见部分</p>
  <p><b class="fbold">scrollWidth:</b>表示元素的总宽度，包括由于溢出而无法展示在网页的不可见部分</p>
  <p class="fbold pl15 color2 f12">[注意]IE7-浏览器返回值是不准确的</p>
  <p class="f12">【1】没有滚动条时，scrollHeight与clientHeight属性结果相等，scrollWidth与clientWidth属性结果相等</p>
  <p class="f12">【2】存在滚动条时，但元素设置宽高大于等于元素内容宽高时，scroll和client属性的结果相等</p>
  <p class="f12">【3】存在滚动条，但元素设置宽高小于元素内容宽高，即存在内容溢出的情况时，scroll属性大于client属性</p>
  <p class="fbold pl15 color2 f12">
    [注意]scrollHeight属性存在兼容性问题，chrome和safari浏览器中，scrollHeight包含padding-bottom；而IE和firefox不包含padding-bottom</p>
  <h3>页面尺寸</h3>
  <p><b class="fbold">clientHeight:</b>表示元素css的高度，</p>
  <p><b class="fbold">clientWidth:</b>表示元素css的宽度，</p>
  <p>
    document.documentElement.clientHeight表示页面的可视区域的尺寸，<br>
    document.documentElement.scrollHeight表示html元素内容的实际尺寸。<br>
    但是由于各个浏览器表现不一样，分为以下几种情况
  </p>
  <p class="fbold pl15 color2 f12">[注意]IE7-浏览器返回值是不准确的</p>
  <p class="f12">
    【1】html元素没有滚动条时，IE和firefox的client和scroll属性始终相同，且返回可视区的尺寸大小；而safari和chrome表现正常，clientHeight返回可视区域大小，而scrollHeight返回元素内容大小</p>
  <p class="f12">【2】html元素存在滚动条时，各个浏览器都表现正常。clientHeight返回可视区域大小，而scrollHeight返回元素内容大小</p>
  <p class="f12">【3】存在滚动条，但元素设置宽高小于元素内容宽高，即存在内容溢出的情况时，scroll属性大于client属性</p>
  <p class="fbold pl15 color2 f12">[兼容]因此要取得文档实际高度时，要取得&lt;html&gt;元素的scrollHeight和clientHeight的最大值</p>
  <h3>滚动长度</h3>
  <p><b class="fbold">scrollTop:</b>属性表示被隐藏在内容区域上方的像素数。元素未滚动时，scrollTop的值为0，如果元素被垂直滚动了，scrollTop的值大于0，且表示元素上方不可见内容的像素宽度
  </p>
  <p><b class="fbold">scrollLeft:</b>属性表示被隐藏在内容区域左侧的像素数。元素未滚动时，scrollLeft的值为0，如果元素被水平滚动了，scrollLeft的值大于0，且表示元素左侧不可见内容的像素宽度
  </p>
  <p>
    当滚动条滚动到内容底部时，符合以下等式 <br>
    scrollHeight == scrollTop + clientHeight
  </p>
  <p class="fbold pl15 color2 f12">[注意] 与scrollHeight和scrollWidth属性不同的是，scrollLeft和scrollTop是可写的</p>
  <p class="fbold pl15 color2 f12">[注意] 为scrollLeft和scrollTop赋值为负值时，并不会报错，而是静默失败</p>
  <h3>页面滚动</h3>
  <p>
    通过document.documentElement.scrollTop和scrollLeft可以反映和控制页面的滚动；<br>
    但是chrome和safari浏览器是通过document.body.scrollTop和scrollLeft来控制的 <br>
    页面的滚动高度兼容写法是 <br>
    docScrollTop = document.documentElement.scrollTop || document.body.scrollTop
  </p>
  <h3>回到顶部</h3>
  <p>可以利用scrollTop来实现回到顶部的功能: document.body.scrollTop = document.documentElement.scrollTop = 0;</p>
  <h3>pageXOffset</h3>
  <p>pageXOffset表示水平方向上页面滚动的像素值</p>
  <h3>pageYOffset</h3>
  <p>pageXOffset表示垂直方向上页面滚动的像素值</p>
  <p class="fbold pl15 color2 f12">[注意] IE8-浏览器不支持</p>
  <h3>滚动方法</h3>
  <p><b class="fbold">scrollTo(x,y):</b>方法滚动当前window中显示的文档，让文档中由坐标x和y指定的点位于显示区域的左上角</p>
  <p><b class="fbold">scrollBy(x,y):</b>scrollBy(x,y)方法滚动当前window中显示的文档，x和y指定滚动的相对量</p>
  <p><b class="fbold">Element.scrollIntoView():</b>方法滚动当前元素，进入浏览器的可见区域</p>
  <p class="f12">该方法可以接受一个布尔值作为参数。如果为true，表示元素的顶部与当前区域的可见部分的顶部对齐
    （前提是当前区域可滚动）；如果为false， 表示元素的底部与当前区域的可见部分的尾部对齐
    （前提是当前区域可滚动）。如果没有提供该参数，默认为true</p>
  <p><b class="fbold">Element.scrollIntoViewIfNeeded():</b>方法只在当前元素在视口中不可见的情况下，
    才滚动浏览器窗口或容器元素，最终让它可见。 如果当前元素在视口中可见，这个方法什么也不做 </p>
  <p class="f12">如果将可选的alignCenter参数设置为true，则表示尽量将元素显示在视口中部(垂直方向)</p>
  <p><b class="fbold">scrollByLines(lineCount):</b>方法将元素的内容滚动指定的行髙，lineCount值可以是正值， 也可以是负值</p>
  <p class="fbold pl15 color2 f12">[注意]该方法只有safari支持</p>
  <p><b class="fbold">scrollByPages(pageCount):</b>方法将元素的内容滚动指定的页面高度，具体高度由元素的高度决定</p>
  <p class="fbold pl15 color2 f12">[注意]该方法只有safari支持</p>
  <h3>滚动事件</h3>
  <p><b class="fbold">scroll:</b>事件是在window对象上发生的，它表示的是页面中相应元素的变化。当然，scroll事件也可以用在有滚动条的元素上</p>

</div>
<p id="scriptTest">动态脚本测试</p>
<p><button id="btn">动态加入脚本</button></p>

<div id="test" style="width: 100px;height: 100px;padding: 10px;
margin: 10px;border: 1px solid black;font-size:20px;">
  内容内容内容内容内容内容内容内容内容内容内容内容内容
  内容内容内容内容内容内容内容内容内容内容内容内容内容
  内容内容内容内容内容内容内容内容内容内容内容内容内容
</div>

<script>
document.getElementById('btn').onclick=function () {
  if (!loadScript.state) {
    var str = "document.getElementById('scriptTest').style.color = 'red'"
    loadScript(str)
  }
}
function loadScript (str) {
  loadScript.state = true
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.text = str;
  document.body.appendChild(script);
}
</script>
</body>
</html>