<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="libs/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="public/styles/home.css" rel="stylesheet">
    <link href="public/styles/page.css" rel="stylesheet">
    <script src="libs/requireJS/require.js" data-main="public/scripts/home"></script>
</head>
<body style="background: #F5F5F5" class="detail">
{include file='home/header.html'}
<div class="container">
    <!--一篇文章-->
    {if $one}
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="?a=home">首页</a></li>
                <li><a href="?a=article&m=allArticle">文章显示</a></li>
                <li class="active">{$oneArticle->title}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-12">
            <table class="table table-responsive table-hover table-striped">
                <tr>
                    <th colspan="4" style="text-align: center"><h2>{$oneArticle->title}</h2></th>
                </tr>
                <tr>
                    <td><b>发表时间:</b> {$oneArticle->createTime}</td>
                    <td><b>阅读量:</b> {$oneArticle->pageview}</td>
                    <td><b>来源:</b> {$oneArticle->source}</td>
                    <td><b>作者:</b> {$oneArticle->author}</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right">
                        <b>分享到: </b>
                        <div class="bshare-custom" style="display: inline">
                            <a title="分享到QQ空间" class="bshare-qzone"></a>
                            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                            <a title="分享到人人网" class="bshare-renren"></a>
                            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                            <a title="分享到网易微博" class="bshare-neteasemb"></a>
                            <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                            <span class="BSHARE_COUNT bshare-share-count">0</span>
                        </div>
                        <script type="text/javascript" charset="utf-8"
                                src="http://static.bshare.cn/b/button.js#style=-1&amp;
                              uuid=&amp;pophcol=2&amp;lang=zh"></script>
                        <a class="bshareDiv" onclick="javascript:return false;"></a>
                        <script type="text/javascript" charset="utf-8"
                                src="http://static.bshare.cn/b/bshareC0.js"></script>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="content">
                        {$oneArticle->lead}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: center">
                        <img src="public/uploads/article/{$oneArticle->thumbnail}" height="200">
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="content">
                        {$oneArticle->content}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{/if}
<!--所有文章-->
{if $all}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="?a=home">首页</a></li>
            <li>所有文章</li>
        </ul>
    </div>
</div>
<div class="row allArticle">
    <div class="col-md-12">
        <table class="table table-hover ">
            {foreach $allArticle as $k=>$v}
            <tr class="article">
                <td>
                    <a href="?a=article&m=detail&id={$v->id}" target="_blank">
                        <img src="public/uploads/article/{$v->thumbnail}" alt="" class="img-circle" height="100"
                             width="80">
                    </a>
                </td>
                <td class="infoArticle">
                    <a href="?a=article&m=detail&id={$v->id}" target="_blank" class="h2">
                        {$v->title|strip_tags|truncate:'15':'...':true}
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                            <b>栏目:</b> {$v->nid}
                            <b>作者:</b> {$v->author}
                            <b>来源:</b> {$v->source}
                            <b>浏览次数:</b> {$v->pageview}
                        </span>
                </td>
                <td>
                    <a href="?a=article&m=detail&id={$v->id}" target="_blank">
                        {$v->content|strip_tags|truncate:'120':'...':true}
                    </a>
                </td>
            </tr>
            {/foreach}
            <tr>
                <td class="page" colspan="3">
                    {$list}
                </td>
            </tr>
        </table>
        <!-- <div class="box">
             <section class="article clearfix">
                 <p>
                     <a href="?a=article&m=detail&id={$v->id}" target="_blank">
                         <img src="public/uploads/article/{$v->thumbnail}" alt="" class="img-circle" height="100"
                              width="80">
                     </a>
                 </p>
                 <p class="h2">
                     <a href="?a=article&m=detail&id={$v->id}" target="_blank" class="h2">{$v->title|truncate:'15':'...'}</a><br>
                 </p>
                 <p class="text_ellipsis">
                     <a href="?a=article&m=detail&id={$v->id}" target="_blank">
                         {$v->content|truncate:'70':'...'}
                     </a>
                 </p>
                 <span class="text-center tip">{$v->attr}</span>
             </section>
         </div>-->
    </div>
</div>
{/if}
<!--搜索文章-->
{if $search}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="?a=home">首页</a></li>
            <li><a href="?a=article&m=allArticle">所有文章</a></li>
            <li>搜索的文章</li>
        </ul>
    </div>
</div>
<div class="row allArticle">
    <div class="col-md-12">
        <table class="table table-hover ">
            {foreach $searchArticle as $k=>$v}
            <tr class="article">
                <td>
                    <a href="?a=article&m=detail&id={$v->id}" target="_blank">
                        <img src="public/uploads/article/{$v->thumbnail}" alt="" class="img-circle" height="100"
                             width="80">
                    </a>
                </td>
                <td class="infoArticle">
                    <a href="?a=article&m=detail&id={$v->id}" target="_blank" class="h2">
                        {$v->title|strip_tags|truncate:'15':'...':true}
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                            <b>栏目:</b> {$v->nid}
                            <b>作者:</b> {$v->author}
                            <b>来源:</b> {$v->source}
                            <b>浏览次数:</b> {$v->pageview}
                        </span>
                </td>
                <td>
                    <a href="?a=article&m=detail&id={$v->id}" target="_blank">
                        {$v->content|strip_tags|truncate:'120':'...':true}
                    </a>
                </td>
            </tr>
            {/foreach}
            <tr>
                <td class="page" colspan="3">
                    {$page}
                </td>
            </tr>
        </table>
        <!-- <div class="box">
             <section class="article clearfix">
                 <p>
                     <a href="?a=article&m=detail&id={$v->id}" target="_blank">
                         <img src="public/uploads/article/{$v->thumbnail}" alt="" class="img-circle" height="100"
                              width="80">
                     </a>
                 </p>
                 <p class="h2">
                     <a href="?a=article&m=detail&id={$v->id}" target="_blank" class="h2">{$v->title|truncate:'15':'...'}</a><br>
                 </p>
                 <p class="text_ellipsis">
                     <a href="?a=article&m=detail&id={$v->id}" target="_blank">
                         {$v->content|truncate:'70':'...'}
                     </a>
                 </p>
                 <span class="text-center tip">{$v->attr}</span>
             </section>
         </div>-->
    </div>
</div>
{/if}
{include file='home/footer.html'}
<!--进度条-->
<div id='progressBox'>
    <div class='progress'>
        <div id='progress-bar' class='progress-bar progress-bar-striped active' style='width: 0%;'>
            <span id='num1'>0%</span>
            <span id='num' style="display: none">0%</span>
        </div>
    </div>
</div>
</body>
</html>