<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="libs/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="public/styles/home.css" rel="stylesheet">
    <link href="public/styles/Tools.css" rel="stylesheet">
    <script src="libs/requireJS/require.js" data-main="public/scripts/home"></script>
</head>
<body>
{include file='home/header.html'}
<div class="container">
    {if $exam}
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="?a=home">首页</a></li>
                <li><a href="?a=home">所有考试</a></li>
                <li class="active">{$type}</li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <h3 style="color:red;">{$tip}{$score}</h3>
    </div>
    <form action="" method="post"><!--?a=grade&action=php-->
        {foreach $Data as $k=>$v}
        <div class="row">
            <p class="col-sm-12 h3">
                <b>{$k+1}:{$v->title}</b>
                <span  style="color:{$colors[$k]};">{$test[$k]}</span>
                <b style="color: blue">{$answer[$k]['answer']}</b>
            </p>
            <p class="col-sm-6">
                <input type="radio" name="{$v->id}" value="A" id="{$k}A">
                <label for="{$k}A"> A:{$v->A}</label>
            </p>
            <p class="col-sm-6">
                <input type="radio" name="{$v->id}" value="B" id="{$k}B">
                <label for="{$k}B"> B:{$v->B}</label>
            </p>
            <p class="col-sm-6">
                <input type="radio" name="{$v->id}" value="C" id="{$k}C">
                <label for="{$k}C">C:{$v->C}</label>
            </p>
            <p class="col-sm-6">
                <input type="radio" name="{$v->id}" value="D" id="{$k}D">
                <label for="{$k}D">D:{$v->D}</label>
            </p>
        </div>
        {/foreach}
        <div class="row">
            <p class="col-sm-offset-5 col-sm-2">
                <input type="submit" class="btn btn-success" name="send" style="display:{$none};">
            </p>
        </div>
    </form>
    {/if}
    <!--自己的成绩-->
    {if $oneTest}
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="?a=home">首页</a></li>
                <li><a href="?a=home">所有考试</a></li>
                <li class="active">{$type}</li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <h3 style="color:green;">你的正确率:{$oneGrde->accuracy}</h3>
    </div>
        {foreach $Exams as $k=>$v}
        <div class="row">
            <p class="col-sm-12 h3">
                <b>{$k+1}:{$v->title}</b>
                <span  style="color:{$colors[$k]};">{$test[$k]}</span>
                <b style="color: blue">{$v->answer}</b>
            </p>
            <p class="col-sm-6">
                <input type="radio" name="{$v->id}" value="A" id="{$k}A0">
                <label for="{$k}A0"> A:{$v->A}</label>
            </p>
            <p class="col-sm-6">
                <input type="radio" name="{$v->id}" value="B" id="{$k}B0">
                <label for="{$k}B0"> B:{$v->B}</label>
            </p>
            <p class="col-sm-6">
                <input type="radio" name="{$v->id}" value="C" id="{$k}C0">
                <label for="{$k}C0">C:{$v->C}</label>
            </p>
            <p class="col-sm-6">
                <input type="radio" name="{$v->id}" value="D" id="{$k}D0">
                <label for="{$k}D0">D:{$v->D}</label>
            </p>
        </div>
        {/foreach}
    <!--查看别人的-->
    {/if}

    {include file='home/footer.html'}
</div>
<!--弹出框-->
<div class="modal" id="exam">
    <div class="modal-dialog modal-sm ext-center">
        <div class="modal-content modals">
            <div class="modal-body text-center">
                <h1 class="infoTip" style="color: red;"></h1>
                <button class="btn btn-success confirmTest" data-dismiss="modal">确认</button>
                <button class="btn btn-danger cancel" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--进度条-->
<div id='progressBox'>
    <div class='progress'>
        <div id='progress-bar' class='progress-bar progress-bar-striped active' style='width: 0%;'>
            <span id='num1'>0%</span>
            <span id='num' style="display: none">0%</span>
        </div>
    </div>
</div>
</body>
</html>