* {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    -moz-outline: none;
    /*-moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -o-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;*/
    -webkit-appearance: none;
    /* Safari */
}
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:  "Microsoft YaHei", "微软雅黑", SimHei, "Arial", "宋体", "Times New Roman", Times, serif;
    -webkit-appearance: none;
    border-radius: 0;
}

select,
select:focus,
input[type='text'],
input[type='tel'],
input[type='date'],
input[type='password'] {
    border: none;
}

input:required:invalid,
input:focus:invalid,
textarea:required:invalid,
textarea:focus:invalid {
    box-shadow: none;
}
input,
button,
select,
textarea {
    outline: none;
    border: none;
}
button{
    background: transparent;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

/**
 * [input 取消input点击的时候的默认外框]
 * @type {[type]}
 */

input:focus,
button,
button:focus {
    outline: none;
    -moz-outline: none;
    -webkit-tap-highlight-color: transparent;
    /*  border: none; */
    /*   box-shadow: none; */
}

i{
    font-weight: normal;
}

/**
 * 取消a 点击时的边框
 */

a {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}