/** 清除 浮动 */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/**
 * [display 影藏，显示]
 * @type {[type]}
 */

.hide {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.hidden{
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/**
 * 超出省略
 */

.ws {
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
 * 居中  靠右  靠左
 */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/**
 * vertical-align
 */

.vt {
    vertical-align: top;
}

.vm,
img {
    vertical-align: middle;
}

.vbot {
    vertical-align: bottom;
}

.fbold {
    font-weight: bold;
}

.oh {
    overflow: hidden;
}